.accordion {
    margin: 2rem;
}

.accordion-item0-phone,
.accordion-item0-mail,
.accordion-item1-web,
.accordion-item2-web {
    text-decoration: none;
    color: #0d6efd;
}

.accordion-header {
    --bs-accordion-btn-color: #0d6efd;
    --bs-accordion-active-color: #0d6efd;
}

.accordion-icon {
    padding-right: 5px;
    color: black;
}