.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    background-color: #1e1e1e ;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-logo {
    font-size: 2rem;
    margin-left: 3rem;     
}

.navbar-links {
    display: flex;
}

.navbar-link {
    color: white;
    padding: 0 1rem;
    text-decoration: none;
}

.navbar-burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    display: none;
}

@media screen and (max-width:900px) {
    .navbar-logo {
        font-size: 2rem;
    }

    .navbar-links {
        flex-direction: column;
        justify-content: start;
        position: absolute;
        top: 4rem;
        height: fit-content;
        background-color: #1e1e1e ;
        display: none;
        transition: all .8s ease-out;
    }

    .show-nav .navbar-links {
        width: 100%;
        display: block;
    }

    .navbar-link {
        display: block;
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }

    .navbar-burger {
        display: block;
        position: absolute;
        top: 1rem;
        right: 3rem;
        border: 1px solid white;
        border-radius: 10%;
        width: 4rem;
    }

    .navbar-burger:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 1.5rem;
        height: 3px;
        position: sticky;
        border-radius: 10%;
        background-color: white;
        transition: all .5s ease-in-out;
    }

    .burger-bar {
        margin: auto;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
    }
    
    .burger-bar::before {
        transform: translateY(-10px);
    }

    .burger-bar::after {
        transform: translateY(10px);
    }
}