.service {
    margin: 1rem 1rem 0 1rem;
    background-color: white;
    padding: 3rem 1rem 4rem 1rem;
    border-radius: 5%;
}

.service-icon {
    height: 50px;
    color: #0d6efd;
    display: block;
    margin: auto;
}
.service:hover .service-icon {
    color: #cde1f8;
}

.service-h2,
.service-text {
    text-align: center;
}

.service-h2,
.service-underline {
    text-transform: uppercase;
}

.service-h2 {
    font-size: 2rem;
    padding: 1rem 0;
}

.service-text {
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

.service-underline {
    text-decoration: underline;
}

.service-italic {
    font-style: italic;
}

@media screen and (min-width:720px) {
    .service-h2 {
        font-size: 1.3rem;
    }
    .service-text {
        font-size: 1.2rem;
    }
}