.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    min-height: 75px;
    padding: 1rem;
    background-color: #444;
    color: white;
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-logo {
    font-size: 3vw;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    color: white;
    padding: 0 1rem;
}

.navbar-burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    display: none;
}

@media screen and (max-width:767px) {
    .navbar-links {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: fixed;
        right: -100vw;
        top: 2rem;
        bottom: 0;
        width: 0;
        height: 100vh;
        padding: 2rem;
        background-color: #444;
        visibility: hidden;
        transition: all .8s ease-out;
    }

    .show-nav .navbar-links {
        width: 50vw;
        right: 0;
        visibility: visible;
    }

    .navbar-item::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background: white;
    }

    .navbar-item:last-child::after {
        display: none;
    }

    .navbar-link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar-burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .navbar-burger:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: white;
        transition: all .5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }
    
    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar {
        width: 0;
        background: transparent;
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }
    
}